input{
	color:blue;
	padding: 8px;
	margin: 7px;
	width: 75%;
}

#top{
	margin-top: 170px;
}

div{
	display: -webkit;
    -webkit-align-items: center; 
    align-items: center;
}

.login-card{
	box-shadow: 0.5px 0.5px 6px 8px rgba(0,0,0,0.2);
	width: 25%;
	height: 75%;
	margin-top:100px;
}
input[type='button'],input[type='submit']{
	background-color:orange;
	border:none;
	color:black;
	cursor:pointer;
}